@{
    ViewBag.Title = "Home Page";
    ViewBag.Active = "Home";
}

<div class="hero-unit">
    <h2>@ViewBag.Message</h2>
    <p>For information about the founder please click <a href="http://www.linkedin.com/profile/view?id=136715813" title="M. Burger's linkedIn page"class="btn btn-primary btn-large" 
      style="color: White;">M. Burger's linkedIn page</a></p>
</div>
